		</section>
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a target="_blank" href="https://twitter.com/icc_lab" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a target="_blank" href="https://github.com/icclab/cyclops" class="icon fa-github"><span class="label">Github</span></a></li>
					<li><a href="mailto:harh@zhaw.ch" class="icon fa-envelope"><span class="label">Mail</span></a></li>
				</ul>
				<ul class="icons">
					<li><img src="{{ site.baseurl }}/assets/images/sponsors/sponsors.gif" alt="" /></li>
				</ul>
				<ul class="copyright">
					<li><a target="_blank" href="http://engineering.zhaw.ch/de/engineering/institute-zentren/init.html">InIT</a></li>
					<li><a target="_blank" href="http://www.zhaw.ch/">ZHAW</a></li>
					<li>&copy; 2015 Zuercher Hochschule fuer Angewandte Wissenschaften</li>
				</ul>
			</footer>

	</body>
</html>