<!-- Header -->
	<header id="header" class="alt">
    <h1><a href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/assets/images/logo_white.png" alt="" /></a></h1>
		<nav id="nav">
			<ul>
				<li><a href="{{ site.baseurl }}/about.html">About</a></li>
				<li><a href="{{ site.baseurl }}/architecture.html">Architecture</a></li>
        <li><a target="_blank" href="https://github.com/icclab/cyclops">Download</a></li>
        <li><a target="_blank" href="https://github.com/icclab/cyclops/wiki">Wiki</a></li>
        <li><a target="_blank" href="https://github.com/icclab/cyclops/tree/master/dev-support">Docker</a></li>
				<!--
					<li><a href="{{ site.baseurl }}/blog">News</a></li>	
				-->
				<li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
			</ul>
		</nav>
	</header>
