<!-- Header -->
	<header id="header" class="alt">
    <h1><a href="{{ site.baseurl }}/index.html">Cyclops</a> by ICCLab</h1>
		<nav id="nav">
			<ul>
				<li><a href="{{ site.baseurl }}/about.html">About</a></li>
				<li><a href="{{ site.baseurl }}/architecture.html">Architecture</a></li>
				<li>
					<a href="" class="icon fa-angle-down">Download</a>
					<ul>
						<li><a target="_blank" href="https://github.com/icclab/cyclops-udr">User Data Records</a></li>
						<li><a target="_blank" href="https://github.com/icclab/cyclops-rc">Rating & Charging</a></li>
						<li><a target="_blank" href="https://github.com/icclab/cyclops-billing">Billing</a></li>
						<li><a target="_blank" href="https://github.com/icclab/cyclops-dashboard">Dashboard</a></li>
					</ul>
				</li>
				<!--
					<li><a href="{{ site.baseurl }}/blog">News</a></li>	
				-->
				<li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
			</ul>
		</nav>
	</header>
