<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="[ %-6p] %d{yyyy-MM-dd HH:mm:ss} - %m%n"/>
        </Console>
        <Console name="STDERR" target="SYSTEM_ERR">
            <PatternLayout pattern="[ %-6p] %d{yyyy-MM-dd HH:mm:ss} - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="STDERR" level="ERROR"/>
        </Root>
        <logger name="ch.icclab.cyclops" level="ALL">
            <appender-ref ref="STDOUT" level="TRACE"/>
        </logger>
        <logger name="ch.icclab.cyclops.util.loggers.RESTLogger" level="REST">
            <appender-ref ref="STDOUT" level="REST"/>
        </logger>

        <logger name="ch.icclab.cyclops.util.loggers.DispatchLogger" level="DISPATCH">
            <appender-ref ref="STDOUT" level="DISPATCH"/>
        </logger>

        <logger name="ch.icclab.cyclops.util.loggers.DataLogger" level="DATA">
            <appender-ref ref="STDOUT" level="DATA"/>
        </logger>

        <logger name="ch.icclab.cyclops.util.loggers.CommandLogger" level="COMMAND">
            <appender-ref ref="STDOUT" level="COMMAND"/>
        </logger>

        <logger name="ch.icclab.cyclops.util.loggers.TimeSeriesLogger" level="TIMESERIES">
            <appender-ref ref="STDOUT" level="TIMESERIES"/>
        </logger>
    </Loggers>
</Configuration>