<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="errors" filename="/var/log/cyclops/openstack_ceilometer/errors.log" append="false">
            <PatternLayout pattern="[ %-6p] %d{yyyy-MM-dd HH:mm:ss} (%C{2}:%L) - %m%n"/>
        </File>
        <File name="trace" filename="/var/log/cyclops/openstack_ceilometer/trace.log" append="false">
            <PatternLayout pattern="[ %-6p] %d{yyyy-MM-dd HH:mm:ss} (%C{2}:%L) - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="errors" level="ERROR"/>
        </Root>
        <logger name="ch.icclab.cyclops" level="ALL">
            <appender-ref ref="trace" level="TRACE"/>
        </logger>
    </Loggers>
</Configuration>